{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="container">
    <br><br><h1 style="color:#ff0000;">Vous n'avez pas les droits ! </h1>
        <img  style="text-align:center; margin: auto;" src="{{asset('images/pereNoel.jpg')}}" class="img-responsive">
    </div>
{% endblock %}
