{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="container" style="margin: auto;">
        <div class="row">
            <div class="col-md-4">
            <div class="msg msg-success msg-success-text"> <span class="glyphicon glyphicon glyphicon-ok"></span> Félicitation ! Commande réussie !</div>
            <a class="bouttonContinuerAchat" href="{{ path('panier.showAccueilClient') }}">Continuer les achats</a>
        </div>
        </div>
    </div>
{% endblock %}